$firstColor : #36d1dc  ;
$secondaryColor : #5b86e5;

.base-container {

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;


    background-color:black;
    background-image: 
      radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
      radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
      radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    
    .base {
        height: 100%;
        
        display: flex;
        flex-direction: column;
        
        header {
            height: 64px;
            width: 100%;
            
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            // background: black;
            color: white;
            
            .nav-items {
                
                display: flex;
                padding: 0 24px;
                
                div {
                    height: 20px;
                    margin-right: 8px;
                    border: 2px solid $secondaryColor;
                    border-radius: 8px;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                }
                
            }
        }

        .scroll-content {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
        
        section {

            width: 100%;
            display: flex;

            .section-container{
                width: 70%;

                .destinations-vehicles {

                    width: 100%;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 0 0 24px;
                }

                .selection {

                    position: relative;
                    background-image: linear-gradient(to top left, $firstColor ,  $secondaryColor);
                    color: #fff!important;
                    width: 70%;
                    height: 85%;
                    border-radius: 10px;

                    .current-selection {
                        display: flex;
                        flex: 1;
                        margin-left: 20%;
                    }
                }

                .set-journey{

                    position: absolute;
                    width: 210px;
                    height: 210px;
                    top: 50%;
                    left: -20%;
                    z-index : 1;
                    transform: perspective(1px) translateY(-50%);
                    border-radius: 8px;
                    box-shadow: 7px 5px 2px #3c354d;
                    background-color: #201c29;

                    .planet {
                        padding: 10px;
                        margin: 10px;
                        border-radius: 8px;
                        background: transparent;
                    }

                    .vehicle {
                        padding: 10px;
                        margin: 10px;
                        border-radius: 8px;
                        background-color: #201c29;
                        color: white;

                        .vehicle-group {
                            display: flex;
                            flex-direction: column;

                            .vehicle-radio {
                                margin-top: 12px;
                            }
                        }
                    }

                }

            }

            
            .ready-launch {

                width: 30%;
                overflow: hidden;
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .time-taken {

                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-image: radial-gradient($firstColor ,  $secondaryColor);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 20pt;
                    font-weight: 800;
                    color : white;
                }

                .rocket {
                    position: absolute;
                    top: 0;
                    display: block;
                    width: 100%;

                  }
            }
            
        }
        
        footer {
            height: 64px;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            // background: black;
            
            .footer-content {

                border: 2px solid $secondaryColor;
                border-radius: 8px;
                color: white;
                padding: 12px;
            } 
        }
    }
}