<!-- <mission-loader [ngClass]="{hideLoader :  !bsStorage?.isLoading , showLoader : bsStorage?.isLoading }"></mission-loader> -->

<div class="main-container">
    <header>
        <div class="nav-items">
            <button (click)="reset()">Reset</button>
            <button> <a href="https://www.geektrust.in">GeekTrust Home</a></button>
        </div>
    </header>
    
    <div class="route">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div class="footer-content">
            Coding problem - https://www.geektrust.in/finding-falcone
        </div>
    </footer>
</div>