$firstColor : #141e30   ;
$secondaryColor : #243b55;

:host {
    display: flex;
    flex: 1;
}

.mission-status-container {

    margin: 0;
    padding: 24px;
    display: flex;
    flex: 1;

    .mission-status {
        
        display: flex;
        flex: 1;
        flex-direction: column;
        border-radius: 50px;
        justify-content: space-between;
        align-items: center;
        color: aliceblue; //remove
    }

    .pod-container {

        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        

        .pod-card {

            background-color: #243b55;
            width: 300px;
            height: 275px;
            padding: 24px;
            display: flex;
            flex: 0.3;
            justify-content: center;
            align-items: center;
            border-radius: 8px;

            box-shadow: 7px 5px 2px rgba(36,59,85,0.5);
            
            transition: 0.8s;


            
            .staus {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .journey-details{
                display: none;
            }
        }

        .pod-card:hover {
            flex: 0.5;
            margin: 8px;
            .staus {
                display: none;
            }
            .journey-details{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }

}

ul {
    list-style: none;
} 

button {
    height: 50px;
    margin-right: 8px;
    border: 2px solid $secondaryColor;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    color: white;

    outline: none;
    background: transparent;
} 

button:hover{
    background: $secondaryColor;
    cursor: pointer;
}

button:active{
    background:rgba(36, 59, 85,0.5);
    cursor: pointer;
}