<div class="mission-status-container">
  <div class="mission-status">
    <h2>Mission Status</h2>
    <div class="pod-container">
      <div class="pod-card">
        <div class="staus">
          <h1>{{joruneyStatus?.status === 'success' ?  'Success!!!!' : ''}}</h1>
          <h2>{{joruneyStatus?.status === 'success' ? 'Found in : ' +  joruneyStatus.planetName : 'Unable to find Falcone this trip'}}</h2>
          <h3>Total journey time :{{joruneyStatus.journeyTime}} </h3>
        </div>

        <div *ngIf="joruneyStatus?.status === 'success'" class="journey-details">
          <h1>Status of mission : SUCCESS!!!!</h1>

          <ul>
            <li><h4>Planet Name : {{joruneyStatus.planetName}}</h4></li>
            <li><h4>Planet distance : {{joruneyStatus.planetdistance}}</h4></li>
            <li><h4>Vechile Name : {{joruneyStatus.vehicleName}}</h4></li>
          </ul>


          <h3> Congratulations On Finding Falcone, King Shan Is Mighty Pleased !! </h3>
        </div>

        <div *ngIf="joruneyStatus?.status !== 'success'" class="journey-details">
          <h3> Don't lose hope give one more try on Finding Falcone </h3>
        </div>

      </div>
    </div>

    <div class="rest-button">
      <button (click) = "reset()">Start again</button>
    </div>
  </div>
</div>